@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #e3f2fd;
  padding: 0 10px;
}

.wrapper {
  background: #141414;
  /* width: 50%; */
  border-radius: 20px;
  padding: 25px;
}

.wrapper header {
  color: #b2b2b2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.piano-keys .key {
  position: relative;
  user-select: none;
  cursor: pointer;
  list-style: none;
  color: #a2a2a2;
  text-transform: uppercase;
}

header h2 {
  font-size: 1.6 rem;
}

header .column {
  list-style: none;
  color: #a2a2a2;
}

header .column span {
  font-weight: 500;
  font-size: 1.19rem;
  margin-right: 15px;
}

.volume-slider input {
  accent-color: #fff;
}

.key-checkbox input {
  appearance: none;
  width: 60px;
  height: 30px;
  outline: none;
  position: relative;
  background: #4b4b4b;
  border-radius: 30px;
}

.key-checkbox input::before {
  content: '';
  height: 20px;
  width: 20px;
  top: 50%;
  left: 5px;
  background: #8c8c8c;
  position: absolute;
  border-radius: inherit;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

.key-checkbox input:checked:before {
  left: 35px;
  background: #fff;
}

.piano-keys {
  display: flex;
  margin-top: 40px;
}

.piano-keys .black {
  width: 44px;
  height: 140px;
  z-index: 2;
  margin: 0 -22px 0 -22px;
  border-radius: 0 0 5px 5px;
  background: linear-gradient(#333, #000);
}

.piano-keys .black.active {
  box-shadow: inset -5px 5px 20px rgba(255, 255, 255, 0.1);
  background: linear-gradient(to bottom, #000, #434343);
}

.piano-keys .white {
  height: 230px;
  width: 70px;
  border-radius: 8px;
  border: 1px solid #000;
  background: linear-gradient(#fff 96%, #eee 4%);
}

.piano-keys span {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: 1.13rem;
}

/* 12:47 */

.piano-keys .white.active {
  box-shadow: inset -5px 5px 20px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
}

.piano-keys .key.hide span {
  display: none;
}